<mat-toolbar>
  <mat-toolbar-row>
    <span> FHIR-Mediaction </span>

    <button mat-icon-button class="example-icon"> <!-- routerLink="/list" routerLinkActive="mat-primary" -->
      Main
    </button>

    <button mat-icon-button class="example-icon"> <!-- routerLink="/add" routerLinkActive="mat-primary" -->
      List
    </button>

    <button mat-icon-button class="example-icon"> <!-- routerLink="/add" routerLinkActive="mat-primary" -->
      Add
    </button>
  </mat-toolbar-row>
</mat-toolbar>
