<mat-card id="main_container">
  <mat-card-title><h1>FHIR-Medication</h1></mat-card-title>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content>
    <p>This Compulsory program was created during the Web Development Frameworks course (University of Szeged) in 2021. The task was to create a web application that puts CRUD operations into practice using the <a href="https://www.hl7.org/fhir/medication.html" target="_blank">resource Medication</a> of the FHIR standard.</p>
  </mat-card-content>
  <img mat-card-image [src]="imageURL" alt="medication image"/>
  <mat-card-footer><h2>Madarász Máté</h2></mat-card-footer>
</mat-card>


