/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  width: 100%;
  overflow-x: auto;
}

body {
  position: fixed;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
}

h1 {
  font-size: xx-large !important;
  text-align: center;
}

.mat-divider {
  border-top-color: rgb(24, 255, 255) !important;
  border-top-width: 0.2rem !important;
}

.mat-card {
  text-align: center;
  align-items: center;
  max-width: 40rem !important;
}

#main_container {
  text-align: center !important;
  margin: 0 auto;
  min-width: 50%;
  max-width: 100%;
}

.mat-card-content {
  display: flex !important;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center !important;
}

.mat-form-field, .mat-header-cell {
  text-align: center !important;
}
